.env
Arquitectura AI Email Parser.drawio
Arquitectura inicial.png
modelo de datos.png
__pycache__
node_modules/
dist/



# ---- Archivos sensibles ----
credentials.json
*.txt

# ---- Back-end ----
backend/credentials.json
backend/*.txt

# ---- Front-end ----
frontend/credentials.json
frontend/*.txt
